/*product card design*/
.card {
    /*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);*/
}

.card:hover {
    box-shadow: 5px 5px 5px 5px #f0ebf3;
}

.card-body {
    padding: 2px 16px;
}
.item-product{
    margin-bottom: 10px;
}
.view img, .view video {
    position: relative;
    display: block;
    margin: auto;
}
.card .card-body .card-text, .dark-grey-text {
    color: #4f4f4f;
}
.blue-text {
    color: #2196f3!important;
}
.font-weight-bold {
    font-weight: 700!important;
}

/*category top nav bar design*/
.category-nav{
    background-color: #e4e4e4 !important;
    padding-right: 1rem!important;
    /*font-weight: 600;*/
    /*box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 2px 0 rgba(0,0,0,.12);*/
    /*margin-top: 0rem !IMPORTANT;*/
}
.navbar.navbar-dark .navbar-nav .nav-item.active>.nav-link {
    background-color: #555;
}

.nav-item.active>.nav-link {
    background-color: #f7f7f7 !important;
}

.navbar-dark .navbar-brand, .navbar-dark .navbar-brand:focus, .navbar-dark .navbar-brand:hover {
    color: #555;
}
.navbar.navbar-dark .navbar-nav .nav-item .nav-link {
    color: #555;
    -webkit-transition: .35s;
    -o-transition: .35s;
    transition: .35s;
}
.nav > li > a:hover, .nav > li > a:focus {
    background-color: #f7f7f7;
    border-color: #f7f7f7;
}
.bg-transparent{
    /*background-color: #ecebef;*/
}
.mb-7{
    margin-bottom: 3rem;
}
.mt-3{
    margin-top: 7rem;
}
.navbar-fixed-top {
    background-color: #f3f5f3;
}

.price {
    color: #1c5c92;
}

#default .category-nav:first-child{
    /*margin-top: 5rem !IMPORTANT;*/
}

.taxonomy-container{
    border-top: 1px solid #dad5d5;
    margin: 50px 0;
}
.navbar-brand{
    margin-left: 0 !important;
    color: #555 !important;
}
#products{
    margin: 40px 70px 0 70px;
}


/*FOOTER*/
#footer{
    height: 60px;
    border-top: 1px solid #e1e3df;
    text-align: center;
    padding: 20px 0;
}
.footer-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.footer-links li {
    margin: 15px;
    list-style: none;
}
.footer-links li a img {
    width: 24px;
}

label.container {
    display: block;
    position: relative;
    /*padding-left: 35px;*/
    /*margin-bottom: 12px;*/
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
label.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
label.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
label.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
label.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
label.container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.list-group-item {
    padding: 8px 7px !important;
    margin-bottom: 0 !important;
}