/*product card design*/
.card {
    /*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);*/
}

.card:hover {
    box-shadow: 5px 5px 5px 5px #f0ebf3;
}

.card-body {
    padding: 2px 16px;
}
.item-product{
    margin-bottom: 10px;
}
.view img, .view video {
    position: relative;
    display: block;
    margin: auto;
}
.card .card-body .card-text, .dark-grey-text {
    color: #4f4f4f;
}
.blue-text {
    color: #2196f3!important;
}
.font-weight-bold {
    font-weight: 700!important;
}

/*category top nav bar design*/
.category-nav{
    background-color: #e4e4e4 !important;
    padding-right: 1rem!important;
    /*font-weight: 600;*/
    /*box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 2px 0 rgba(0,0,0,.12);*/
    /*margin-top: 0rem !IMPORTANT;*/
}
.navbar.navbar-dark .navbar-nav .nav-item.active>.nav-link {
    background-color: #555;
}

.nav-item.active>.nav-link {
    background-color: #f7f7f7 !important;
}

.navbar-dark .navbar-brand, .navbar-dark .navbar-brand:focus, .navbar-dark .navbar-brand:hover {
    color: #555;
}
.navbar.navbar-dark .navbar-nav .nav-item .nav-link {
    color: #555;
    -webkit-transition: .35s;
    -o-transition: .35s;
    transition: .35s;
}
.nav > li > a:hover, .nav > li > a:focus {
    background-color: #f7f7f7;
    border-color: #f7f7f7;
}
.bg-transparent{
    /*background-color: #ecebef;*/
}
.mb-7{
    margin-bottom: 3rem;
}
.mt-3{
    margin-top: 7rem;
}
.navbar-fixed-top {
    background-color: #f3f5f3;
}

.price {
    color: #1c5c92;
}

#default .category-nav:first-child{
    /*margin-top: 5rem !IMPORTANT;*/
}

.taxonomy-container{
    border-top: 1px solid #dad5d5;
    margin: 50px 0;
}
.navbar-brand{
    margin-left: 0 !important;
    color: #555 !important;
}
#products{
    margin: 40px 70px 0 70px;
}
