<nav class="navbar col-md-8 col-sm-9 navbar-fixed-top" id="top-nav-bar">
  <ul id="nav-bar" class="nav navbar-nav navbar-right" data-hook>
    <figure id="logo" class="col-md-4 col-sm-3" data-hook>
      <%= logo %>
    </figure>
    <li id="home-link" data-hook><%= link_to Spree.t(:home), spree.root_path %></li>
    <!--<li id="search-bar" data-hook>-->
      <!--<%#= render partial: 'spree/shared/search' %>-->
    <!--</li>-->
    <li id="link-to-cart" data-hook>
      <noscript>
        <%= link_to_cart %>
      </noscript>
      &nbsp;
    </li>
    <script>Spree.fetch_cart()</script>
  </ul>
</nav>
